<div id="home">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Women's Contribution to Sales Tax Revenue in Colorado</h2>

        <p>Informational message here. We will include:
          <ul>
            <li>Women</li>
            <li>2018 expenses</li>
            <li>Self-Reported</li>
            <li>Informational purposes</li>
            <li>What else?</li>
          </ul>
        </p>
      </div>
    </div>
  <div class="text-right">
    <a  href="/survey">
      <button type="button" class="text-right btn btn-success quiz">Take Survey!</button>
    </a>
  </div>
</div>

