<div class="rowPersonal">
  <div class="col-8 offset-2">
    
    <h1 class="text-center">{{title}}</h1>
    
  <hr>
  <br>

    <div id="personalBar">
      <h4 class="text-left text-light ">Personal Expense Bar Chart</h4>

      <canvas id="myBarChart" width="150" height="50"></canvas>
    </div>

    <br>
    <br>

    <div id="personalPie">
      <h4 class="text-left text-light ">Percentage of Income Allocated to These Items</h4> 
      <canvas id="myPieChart" width="180" height="60"></canvas>
    </div>

  </div>
</div>


<script>
  var pName = window.location.pathname;
  var route = `/api${pName}`;
  console.log(route);
  $.get(route)
    .then(function (data) {
      console.log(data);
      var menst = data.menstruation;
      var preg = data.pregnancy;
      var cos = data.cosmetics;
      var gar = data.garments;
      var incPerc = data.incomePercentage;

      var barCtx = document.getElementById('myBarChart').getContext('2d');
      var myChart = new Chart(barCtx, {
        type: 'bar',
        data: {
          labels: ['Menstruation', 'Pregnancy', 'Cosmetics', 'Garments'],
          datasets: [{
            label: 'Personal Bar Chart',
            data: [menst, preg, cos, gar],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 2

          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },

          backgroundColor: 'white'
        }
      });


      var pieCtx = document.getElementById('myPieChart').getContext('2d');
      var myPieChart = new Chart(pieCtx, {
        type: 'pie',
        data: {
          labels: ['Percent Spent on Female Items'],
          datasets: [{
            label: 'Percent of Total Income',
            data: [incPerc, 1 - incPerc],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
              'rgba(255, 99, 132, 1)',
              'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 2
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });


      //put all your chart stuff where



    })
</script>